<template>
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header">
                <h5 class="modal-title">{{ title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- body -->
            <div class="modal-body container">
                <!-- alerta -->
                <div class="alert alert-warning" role="alert" v-if="onlyOne === true && isUsed">
                    Este pasaje ya está asociado, si escoje un trabajador nuevo el anterior lo perderá.
                </div>

                <!-- tabla -->
                <div class="table-responsive p-0">
                    <table class="table table-hover" v-if="workers.length > 0">
                        <thead>
                            <tr>
                                <th class="align-middle"></th>
                                <th class="align-middle">Nombre</th>
                                <th class="align-middle">Rut</th>
                                <th class="align-middle">Rol</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="w in workers">
                                <td class="align-middle">
                                    <input :value="w.id" type="checkbox" v-model="form[w.id].selected"
                                           v-if="onlyOne === false">
                                    <input :value="w.id" type="radio" v-model="onlyOneSelected" v-else>
                                </td>
                                <td class="align-middle">{{ w.name }} {{ w.last_name}}</td>
                                <td class="align-middle">{{ w.rut }}</td>
                                <td class="align-middle">{{ w.roles | list }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="text-center mb-0" v-else>
                        <i>No hay tripulantes disponibles para asociar a este pasaje.</i>
                    </p>
                </div>
            </div>

            <!-- footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" @click="save">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import eventHub from "../../../eventHub";

    export default {
        props: ['ticketId', 'onlyOne'],
        computed: {
            isUsed () {
                if (this.onlyOne === true) {
                    return this.$parent.quotation.tickets.find(t => t.id === this.ticketId).tickets.length > 0;
                }
            },
            stretch () {
                return this.$parent.quotation.tickets.find(t => t.id === this.ticketId).flight_stretch.name;
            },
            title () {
                return this.onlyOne === true ? 'Asociar stock a tripulante' : 'Asociar pasaje a tripulantes';
            },
            workers () {
                const tickets = this.$parent[this.stretch === 'Ida' ? 'goingTickets': 'returnTickets']
                    .map(t => t.crew_worker_id);

                // si el pasaje es ida, solo debe mostrar los que no tienen ida, lo mismo con vuelta
                return this.$parent.workers.filter(w => !tickets.includes(w.id)).map(w => {
                    return {
                        worker_id:w.worker_id,
                        id: w.id,
                        name: w.worker.name,
                        last_name: w.worker.last_name,
                        rut: w.worker.rut,
                        roles: w.worker.roles.map(r => r.name)
                    };
                });
            }
        },
        created () {
            this.fillForm();
        },
        data () {
            return {
                onlyOneSelected: null,
                form: {}
            }
        },
        methods: {
            fillForm () {
                this.workers.forEach(w => this.form[w.id] = {
                    id: w.id,
                    worker_id:w.worker_id,
                    selected: false
                });
            },

            save () {
              //  if (this.onlyOne === false) {
                    let w = [];

                    Object.keys(this.form).forEach(k => {
                        let i = this.form[k];

                        if (i.selected) w.push({ worker_id: i.worker_id,selected:i.selected,enabled:true });
                    });
                    // ${this.$parent.id}
                    axios.post(`/api/administracion/pasajes/asociar-trabajadores`, {
                        ticket_id: this.ticketId,
                        workers: w,

                    })
                        .then(() => {
                            eventHub.$emit('reloadQuotationWorkers');
                            this.$launchSuccess(`Éxito al asociar pasaje`);
                        })
                        .catch(() => this.$launchError(`Error al asociar pasaje`));
               /* } else {
                    axios.post(`/api/logistica/cotizaciones/${this.$parent.id}/pasajes/asignar-stock`, {
                        ticket_id: this.ticketId,
                        crew_worker_id: this.onlyOneSelected
                    })
                        .then(() => {
                            eventHub.$emit('reloadQuotationWorkers');
                            this.$launchSuccess(`Éxito al asociar pasaje`);
                        })
                        .catch(() => this.$launchError(`Error al asociar pasaje`));
                }*/
            }
        },
        watch: {
            workers () {
                this.form = {};
                this.fillForm();
            }
        }
    }
</script>
