<template>
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header align-items-center">
                <h5 class="modal-title">Escoger reemplazo</h5>

                <form class="ml-auto w-50" @submit.prevent="getWorkers">
                    <input type="text" v-model="searchInput" class="form-control"
                           placeholder="Ingrese nombre y/o apellido de tripulante">
                </form>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- body -->
            <div class="modal-body container">

                 <div class="alert alert-warning" role="alert">
                    Si escoge a una persona de esta lista, tendrá documentos vencidos que deberán ser actualizados antes de poder embarcarse, favor tomar en consideración esta advertencia. Abreviatura : (Des) = Descanso,(Emb) = Embarcado,(Dis) = Disponible,(Vac) = Vacaciones.
                </div>
                <!-- tabla -->
                <div class="table-responsive p-0">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Rut</th>
                                <th>Rol</th>
                                <th>Estado</th>
                                <th>Motivo</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="w in workers.data">
                                <td class="align-middle">{{ w.name }} {{ w.last_name }} {{(w.attribute)}}</td>
                                <td class="align-middle">{{ w.rut }}</td>
                                <td class="align-middle">{{ w.roles.map(r => r.name) | list }}</td>
                                <td class="align-middle"><worker-status :status="w.status.status"/></td>
                                <td class="align-middle"><worker-reasons :status="w.status"/></td>
                                <td class="align-middle">
                                    <i class="fa fa-user-plus green" v-tooltip="'Escoger trabajador'"
                                       @click="choose(w)"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <pagination :data="workers" @pagination-change-page="getWorkers"/>
                </div>
            </div>

            <!-- footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</template>

<script>
    import WorkerReasons from "../EditCrew/WorkerReasons";
    import WorkerStatus from "../EditCrew/WorkerStatus";
    import eventHub from "../../../eventHub";

    export default {
        components: { WorkerReasons, WorkerStatus },
        props:['crew_id'],
        created () {
            this.getWorkers();
        },
        data () {
            return {
                searchInput: null,
                workers: {}
            }
        },
        methods: {
            choose (w) {
                eventHub.$emit('replacementChosen', {
                    id: w.id,
                    name: `${w.name} ${w.last_name}`,
                    rut: w.rut
                });
            },

            getWorkers (page = 1) {
                this.$Progress.start();

                axios.get(`/api/jefe-flota/tripulaciones/${this.$parent.crewId}/trabajadores-reemplazo-no-ingresados?page=${page}${this.searchInput ? `&search=${this.searchInput}`: ''}&crew_id=${this.crew_id}`)
                    .then(({ data }) => this.workers = data.data)
                    .catch(() => this.$launchError('Error al obtener listado de tripulantes'))
                    .finally(() => this.$Progress.finish());
            }
        }
    }
</script>
