<template>
    <div>
        <div class="card-body table-responsive p-0" v-if="hasCertificates">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="align-middle">Nombre</th>
                        <th class="align-middle">Emisión</th>
                        <th class="align-middle">Expiración</th>
                        <th class="align-middle">Subido por</th>
                        <th class="align-middle">Descargar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="c in certificates" :key="c.id">
                        <td class="align-middle">{{ c.name }}</td>
                        <td class="align-middle">{{ c.emission | myDate }}</td>
                        <td class="align-middle">{{ c.expiration | myDate }}</td>
                        <td class="align-middle">{{ c.uploader_name }} {{ c.uploader_last_name }}</td>
                        <td class="align-middle">
                            <a :href="downloadFileUrl(
                                `ship-certificates/${c.certificate}`
                                )" target="_blank">
                                <i class="fas fa-file-download blue"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <span v-else><i>No se han subido certificaciones a esta embarcación.</i></span>
    </div>
</template>

<script>
export default {
    created () {
        this.getCertificates();
    },
    computed: {
        hasCertificates () {
            return this.certificates.length > 0;
        }
    },
    data () {
        return {
            certificates: { data: [] }
        }
    },
    methods: {
        getCertificates () {
            this.$Progress.start();
            this.$parent.loading = true;

            axios.get('/api/embarcaciones/' + this.$route.params.id + '/certificados')
                .then(({ data }) => {
                    this.certificates = data.data;
                    this.$Progress.finish();
                })
                .catch(() => {
                    this.$launchError('Error al obtener certificaciones de la embarcación');
                    this.$Progress.fail();
                })
                .finally(() => {
                    this.$Progress.finish();
                    this.$parent.loading = false;
                });
        }
    }
}
</script>
