<template>
    <div>
        <!-- breadcrumb -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Ficha de tripulante</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <router-link to="/">Inicio</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/admin/trabajadores">Tripulantes</router-link>
                            </li>
                            <li class="breadcrumb-item active">Ficha tripulante</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <!-- ficha -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- profile -->
                    <div class="col-4">
                        <div class="card card-primary sticky-top">
                            <loading v-if="loading"/>

                            <div class="card-body box-profile">
                                <div class="text-center" v-if="worker.avatar">
                                    <img class="profile-user-img img-fluid img-circle"
                                         :src="`/storage/worker-avatar/${worker.avatar}`">
                                </div>

                                <h3 class="profile-username text-center">
                                    {{ worker.name }} {{ worker.last_name }}
                                </h3>

                                <p class="text-muted text-center">{{ worker.rut }}</p>

                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                        <b>Código</b> <a class="float-right">{{ worker.code }}</a>
                                    </li>

                                    <li class="list-group-item">
                                        <b>Atributo</b>
                                        <a class="float-right">{{ worker.attribute ? worker.attribute.name : '-' }}</a>
                                    </li>

                                    <li class="list-group-item">
                                        <b>Fecha nacimiento</b>
                                        <a class="float-right">
                                            {{ worker.birthdate | myDate}}<i>({{ worker.birthdate | age }} años)</i>
                                        </a>
                                    </li>

                                    <li class="list-group-item">
                                        <b>Contacto</b> <a class="float-right">{{ worker.phone_number }}</a>
                                    </li>

                                    <li class="list-group-item">
                                        <b>Dirección</b> <a class="float-right">{{ worker.address }}</a>
                                    </li>

                                    <li class="list-group-item">
                                        <b>Comuna</b> <a class="float-right">{{ worker.commune.name }}</a>
                                    </li>

                                    <li class="list-group-item">
                                        <b>Región</b> <a class="float-right">{{ worker.commune.region.name }}</a>
                                    </li>

                                    <li class="list-group-item">
                                        <b>Fecha registro</b>
                                        <a class="float-right">{{ worker.created_at | myDate }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- content -->
                    <div class="col">
                        <div class="card">
                            <loading v-if="loading"/>

                            <div class="card-body">
                                <!-- roles -->
                                <h4>Roles</h4>

                                <p v-if="worker.roles.length === 0">
                                    <i>No se han asignado roles para este tripulante.</i>
                                </p>
                                <p v-else>{{ worker.roles.map(r => r.name) | list }}.</p>

                                <!-- contrato -->
                                <h4>Contrato</h4>

                                <ul v-if="worker.contract">
                                    <li>
                                        <strong>Tipo :</strong>
                                        {{ worker.contract.contract_type.name | capitalize }}.
                                    </li>
                                    <li>
                                        <strong>Fecha contrato :</strong>
                                        {{ worker.contract.date | myDate }}.
                                    </li>
                                    <li>
                                        <strong>Antigüedad :</strong>
                                        {{ worker.contract.date | antiquity }} años.
                                    </li>
                                    <li>
                                        <strong>Sueldo :</strong>
                                        ${{ worker.contract.salary | dotNumber }}.
                                    </li>
                                    <li>
                                        <strong>AFP :</strong>
                                        {{ worker.contract.afp.name | capitalize }}.
                                    </li>
                                    <li>
                                        <strong>Previsión de salud :</strong>
                                        {{ worker.contract.health_forecast.name | capitalize }}.
                                    </li>
                                    <li>
                                        <strong>Copia de carnet :</strong>
                                        <a :href="`/storage/identity-card-copies/${worker.contract.identity_card_copy}`"
                                           target="_blank">
                                            Descargar <i class="fas fa-file-download"></i>.
                                        </a>
                                    </li>
                                    <li>
                                        <strong>Matrícula de embarque :</strong>
                                        <a :href="`/storage/boarding-licenses/${worker.contract.boarding_license}`"
                                           target="_blank">
                                            Descargar <i class="fas fa-file-download"></i>.
                                        </a>
                                    </li>
                                </ul>
                                <p v-else>
                                    <i>Este tripulante aún no tiene contrato.</i>
                                </p>

                                <!-- vencimientos -->
                                <h4>Vencimiento de documentos</h4>

                                <ul>
                                    <li v-for="d in documents">
                                        <strong>{{ d.title }} :</strong>
                                        <span v-if="worker.expirations[d.key]">
                                            {{ worker.expirations[d.key] | myDate }}
                                            ({{ worker.expirations[d.key] | until }} días restantes).
                                        </span>
                                        <span v-else>
                                            No se ha definido el vencimiento de este documento.
                                        </span>
                                    </li>
                                </ul>

                                <!-- calificaciones -->
                                <h4>Calificaciones</h4>

                                <ul v-if="worker.qualifications.length > 0">
                                    <li>
                                        <strong>Promedio :</strong>
                                        <span>{{ average }}.</span>
                                    </li>
                                    <li>
                                        <strong>Calificación :</strong>
                                        <span>{{ qualificationClassification }}.</span>
                                    </li>
                                    <li>
                                        <strong>Evaluado por :</strong>
                                        <span>{{ worker.qualifications ? worker.qualifications.length: '-' }}.</span>
                                    </li>
                                </ul>
                                <p v-else-if="worker.qualifications.length === 0">
                                    <i>Este tripulante no ha sido calificado aún.</i>
                                </p>

                                <!-- inducciones -->
                                <h4>Inducciones</h4>

                                <ul v-if="worker.inductions.length > 0">
                                    <li v-for="i in worker.inductions">
                                        <strong>{{ i.induction.name }} :</strong>
                                        <span>{{ i.induction_date | myDate }}.</span>
                                    </li>
                                </ul>
                                <p v-else-if="worker.inductions.length === 0">
                                    <i>Este tripulante no ha recibido inducciones.</i>
                                </p>

                                <!-- epp -->
                                <h4>EPP</h4>
                                <table class="table" v-if="worker.epps.length > 0">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Talla</th>
                                            <th>Fecha entrega</th>
                                        </tr>
                                        <tr v-for="e in worker.epps">
                                            <td>{{ e.epp.name }}</td>
                                            <td>{{ e.size }}</td>
                                            <td>{{ e.delivery | myDate }}</td>
                                        </tr>
                                    </thead>
                                </table>
                                <p v-else-if="worker.epps.leading === 0">
                                    <i>Este tripulante no ha recibido EPP.</i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import Loading from "./Common/Loading";

    export default {
        components: { Loading },
        computed: {
            average () {
                if (this.worker.qualifications.length > 0) {
                    return ((this.worker.qualifications
                        .map(q => parseInt(q.average))
                        .reduce((a, b) => a + b)) / this.worker.qualifications.length)
                        .toFixed(1);
                }
            },
            qualificationClassification () {
                let a = this.average;

                if (a <= 7 && a >= 6.5) {
                    return 'A';
                } else if (a <= 6.4  && a >= 6.0) {
                    return 'B';
                } else if (a <= 5.9  && a >= 5.5) {
                    return 'C';
                } else if (a <= 5.4  && a >= 5.0) {
                    return 'D';
                } else if (a <= 4.9  && a >= 4.0) {
                    return 'E';
                } else {
                    return 'F';
                }
            }
        },
        created() {
            this.$Progress.start();
            this.getWorkerDetails();
            this.$Progress.finish();
        },
        data () {
            return {
                documents: [
                    { title: 'C.I.', key: 'ci' },
                    { title: 'Matrícula', key: 'enrollment' },
                    { title: 'R.I.', key: 'ri' },
                    { title: 'Examen ocupacional', key: 'exam' },
                    { title: 'Seguro de vida', key: 'life_insurance' },
                ],
                loading: true,
                worker: {
                    avatar: null,
                    name: null,
                    last_name: null,
                    code: null,
                    rut: null,
                    birthdate: null,
                    age: null,
                    phone_number: null,
                    created_at: null,
                    roles: [],
                    expirations: {},
                    qualifications: [],
                    commune: {
                        name: null,
                        region: {
                            name: null
                        }
                    },
                    contract: {
                        salary: 0,
                        contract_type: {},
                        afp: {},
                        health_forecast: {},
                        identity_card_copy: null,
                        boarding_license: null
                    },
                    inductions: [],
                    epps: []
                }
            }
        },
        methods: {
            getWorkerDetails () {
                axios.get('/api/trabajadores/' + this.$route.params.id)
                    .then(({ data }) => this.worker = data.data)
                    .catch(() => this.$launchError('Error al obtener ficha de tripulante'))
                    .finally(() => this.loading = false);
            }
        }
    }
</script>
