<template>
  <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-12">
                  <div class="card">
                      <loading v-if="loading"/>

                      <div class="card-header">
                          <div class="row align-items-center">
                              <h3 class="col card-title">Listado de tripulantes</h3>

                              <div class="col-6">
                                  <form @submit.prevent="getWorkers">
                                      <input type="text" v-model="searchInput" class="form-control"
                                             placeholder="Ingrese nombre y/o apellido de tripulante">
                                  </form>
                              </div>

                              <div class="col-2">
                                  <button type="button" class="btn btn-sm btn-primary ml-2" @click="creationModal">
                                      <i class="fa fa-plus-square"></i>
                                      Nuevo tripulante
                                  </button>
                              </div>
                          </div>
                      </div>
                      <div class="card-body table-responsive p-0">
                          <table class="table table-hover">
                              <thead>
                                  <tr>
                                      <th class="align-middle">Nombre</th>
                                      <th class="align-middle">Código</th>
                                      <th class="align-middle">Rut</th>
                                      <th class="align-middle">Edad</th>
                                      <th class="align-middle">Contacto</th>
                                      <th class="align-middle">Roles</th>
                                      <th class="align-middle">Acciones</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr v-for="t in workers.data" :key="t.id">
                                      <td class="align-middle">{{ t.name }} {{ t.last_name }}</td>
                                      <td class="align-middle">{{ t.code }}</td>
                                      <td class="align-middle">{{ t.rut }}</td>
                                      <td class="align-middle">{{ t.birthdate | age }} años ({{ t.birthdate | myDate }})</td>
                                      <td class="align-middle">{{ t.phone_number | dash }}</td>
                                      <td class="align-middle">{{ t.roles.map(r => r.name) | list }}</td>
                                      <td class="align-middle">
                                          <router-link :to="'/admin/trabajadores/' + t.id">
                                              <i class="fa fa-info-circle green"></i>
                                          </router-link>
                                          /
                                          <router-link :to="`/admin/trabajadores/${t.id}/editar`">
                                              <i class="fa fa-edit blue"></i>
                                          </router-link>
                                          /
                                          <router-link :to="`/admin/trabajadores/${t.id}/calificar`">
                                              <i class="fa fa-award yellow"></i>
                                          </router-link>
                                          /
                                          <a href="#" @click.prevent="deleteWorker(t.id)">
                                              <i class="fa fa-trash red"></i>
                                          </a>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="card-footer">
                          <pagination :data="workers" @pagination-change-page="getWorkers"/>
                      </div>
                  </div>
              </div>
          </div>

          <!-- modal -->
          <!-- se usa v-if para evitar carga extra de datos -->
          <div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="form-dialog"
               aria-hidden="true" v-if="showModal" data-backdrop="static" data-keyboard="false">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title">Crear nuevo tripulante</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>

                      <form @submit.prevent="createWorker()">
                          <div class="modal-body container">
                            <worker-form :form="form"/>
                          </div>

                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                              <button type="submit" class="btn btn-primary">Crear</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </section>
</template>

<script>
    import Loading from "./Common/Loading";
    import WorkerForm from "./Workers/Form";

    export default {
        components: { Loading, WorkerForm },
        created () {
            this.$Progress.start();
            this.getWorkers();
            this.$Progress.finish();
        },
        data () {
            return {
                form: new Form({
                    name: '',
                    last_name: '',
                    code: '',
                    rut: '',
                    birthdate: '',
                    phone_number: '',
                    attribute_id: null,
                    region_id: null,
                    commune_id: null,
                    marital_status_id: null
                }),
                loading: true,
                searchInput: null,
                showModal: false,
                workers: {}
            }
        },
        methods: {
            getWorkers (page = 1) {
                this.$Progress.start();
                this.loading = true;

                axios.get('/api/trabajadores?page=' + page + (this.searchInput ? `&search=${this.searchInput}`: ''))
                    .then(({ data }) => this.workers = data.data)
                    .catch(() => this.$launchError('Error al obtener listado de tripulantes'))
                    .finally(() => {
                        this.$Progress.finish();
                        this.loading = false;
                    });
            },

            creationModal () {
                this.showModal = true;
                this.form.reset();
                this.$nextTick(() => $('#form-modal').modal('show'));
            },

            createWorker () {
                this.$Progress.start();

                this.form.post('/api/trabajadores')
                    .then(() => {
                        $('#form-modal').modal('hide');

                        this.$launchSuccess('El tripulante fue creado correctamente');
                        this.$Progress.finish();
                        this.getWorkers();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                        this.$launchError('Error al crear tripulante');
                    });
            },

            deleteWorker (id) {
                Swal.fire({
                    title: '¿Estás seguro que deseas eliminar el tripulante?',
                    text: 'No podrás revertir esta acción',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('/api/trabajadores/' + id).then(() => {
                            Swal.fire(
                                'Éxito',
                                'El tripulante fue eliminado correctamente',
                                'success'
                            );

                            this.getWorkers();
                        }).catch(() => Swal.fire(
                            'Error',
                            'Error al eliminar tripulante',
                            'warning'
                        ));
                    }
                });
            }
        }
    }
</script>
