<template>
    <div>
        <div id="accordion" v-if="hasPurchases">
            <purchase-details v-for="p in purchases" :purchase="p" :key="p.id"/>
        </div>
        <span v-else><i>No se han creado compras para esta tripulación.</i></span>
    </div>
</template>

<script>
import PurchaseDetails from "./Purchases/PurchaseDetails";

export default {
    components: { PurchaseDetails },
    computed: {
        hasPurchases() {
            return this.purchases.length > 0;
        }
    },
    created() {
        this.getPurchases();
    },
    data() {
        return {
            purchases: []
        }
    },
    methods: {
        getPurchases() {
            this.$Progress.start();
            this.$parent.loading = true;

            axios.get('/api/ficha-tripulacion/' + this.$parent.id + '/compras')
                .then(response => {
                    this.purchases = response.data.data.purchases;
                    this.$Progress.finish();
                })
                .catch(() => {
                    this.$launchError('Error al obtener compras');
                    this.$Progress.fail();
                })
                .then(() => this.$parent.loading = false);
        }
    }
}
</script>

