<template>
    <div>
        <div class="card-body table-responsive p-0" v-if="hasDocuments">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="align-middle">Documento</th>
                        <th class="align-middle">Fecha inicio</th>
                        <th class="align-middle">Fecha fin</th>
                        <th class="align-middle">Observacion</th>
                        <th class="align-middle">Fecha registro</th>
                        <th class="align-middle">Subido por</th>
                        <th class="align-middle">Descargar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="t in documents">
                        <td class="align-middle">{{ t.type }}</td>
                        <td class="align-middle">{{ t.date_start | myDate }}</td>
                        <td class="align-middle">{{ t.date_end | myDate }}</td>
                        <td class="align-middle">{{ t.observation }}</td>
                        <td class="align-middle">{{ t.created_at | myDate }}</td>
                        <td class="align-middle">
                            {{ t.uploader_name }} {{ t.uploader_last_name }}
                        </td>

                         <td class="align-middle">
                            <a :href="downloadFileUrl(
                                                `worker-documents-extra/${t.worker_id}/${t.certificate}`
                                                )" target="_blank">
                                                <i class="fas fa-file-download blue"></i>
                                            </a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <pagination :data="documents" @pagination-change-page="getDocuments" v-if="hasDocuments"/>
        <span v-else><i>No se han subido documentos a este trabajador.</i></span>
    </div>
</template>

<script>
    export default {
        created () {
            this.getDocuments();
        },
        computed: {
            hasDocuments () {
                return this.documents.length > 0;
            }
        },
        data () {
            return {
                documents: { data: [] }
            }
        },
        methods: {
            getDocuments (page = 1) {
                this.$Progress.start();
                this.$parent.loading = true;

                axios.get('/api/trabajadores/' + this.$route.params.id + '/documentosExtra?page=' + page)
                    .then(({ data }) => {
                        console.log(data.data.data);
                        this.documents = data.data.data;
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$launchError('Error al obtener documentos del trabajador');
                        this.$Progress.fail();
                    })
                    .finally(() => {
                        this.$Progress.finish();
                        this.$parent.loading = false;
                    });
            }
        }
    }
</script>
